<template name="index_stats">
   <div class="ibox float-e-margins">
     <div class="ibox-title">
         <h5>Blood Requests</h5> <span class="label label-primary">IN+</span>
         <div class="ibox-tools">
             <a class="collapse-link">
                 <i class="fa fa-chevron-up"></i>
             </a>
             <a class="dropdown-toggle" data-toggle="dropdown" href="index.html#">
                 <i class="fa fa-wrench"></i>
             </a>
             <ul class="dropdown-menu dropdown-user">
                 <li><a href="index.html#">Config option 1</a>
                 </li>
                 <li><a href="index.html#">Config option 2</a>
                 </li>
             </ul>
             <a class="close-link">
                 <i class="fa fa-times"></i>
             </a>
         </div>
     </div>
     <div class="ibox-content">
        <div id="morris-area-chart"></div>
    </div>
   </div>                     
</template>
